<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.livedaw.obshealthbridge</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_EXECUTABLE__</string>
        <string>-B</string>
        <string>__BRIDGE_SCRIPT__</string>
        <string>--obs-host</string>
        <string>127.0.0.1</string>
        <string>--obs-port</string>
        <string>4455</string>
        <string>--password-file</string>
        <string>__PASSWORD_FILE__</string>
        <string>__AUDIO_SELECTOR_FLAG__</string>
        <string>__AUDIO_SELECTOR_VALUE__</string>
        <string>--audio-track</string>
        <string>1</string>
        <string>--listen-port</string>
        <string>8421</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>WorkingDirectory</key>
    <string>__INSTALL_DIRECTORY__</string>
    <key>StandardOutPath</key>
    <string>__STDOUT_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__STDERR_LOG__</string>
</dict>
</plist>
